/* 레이아웃 */
body {
    background: url(../img/header_bg.jpg) repeat-x center top;
}

#header {}

#nav {
    background-color: #f6fdff;
}

#title {
    background-color: #eaf7fd;
}

#contents {
    overflow: hidden;
}

#contents .container {
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
}

#cont_left {
    float: left;
    width: 250px;
}

#cont_center {
    overflow: hidden;
    min-height: 1300px;
    margin-right: 250px;
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    box-sizing: border-box;
}

#cont_right {
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
}

#footer {
    border-top: 1px solid #dbdbdb;
}


/* 컨테이너 */
.container {
    position: relative;
    width: 1200px;
    height: inherit;
    margin: 0 auto;
    /* background: rgba(0, 0, 0, 0.3); */
}

/* 헤더 */
.header {
    height: 327px;
}

.header .header_menu {
    text-align: right;
}

.header .header_menu a {
    color: #fff;
    padding: 8px 0 6px 10px;
    display: inline-block;
    font-family: 'Abel';
    transition: all 0.3s;
}

.header .header_menu a:hover {
    color: #ccc;
}

.header .header_tit {
    text-align: center;
}

.header .header_tit h1 {
    font-size: 30px;
    color: #fff;
    background: #51b0dc;
    display: inline-block;
    padding: 5px 30px;
    font-family: 'abel';
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 55px;
    transition: box-shadow 0.25s ease-in-out;
}

.header .header_tit h1:hover {
    box-shadow:
        inset -300px 0 0 #257fac,
        inset 300px 0 0 #257fac;
}

.header .header_tit a {
    font-size: 16px;
    color: #fff;
    background: #4a9abf;
    display: inline-block;
    padding: 10px 20px;
    margin-top: -7px;
    transition: box-shadow 0.25s ease-in-out;
}

.header .header_tit a:hover {
    box-shadow:
        0 0 0 5px rgba(75, 154, 191, 0.9) inset,
        0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}

.header .header_icon {
    text-align: center;
    margin-top: 40px;
}

.header .header_icon li {
    display: inline;
    margin: 0 2px;
}

.header .header_icon li a {
    width: 60px;
    height: 60px;
    display: inline-block;
    color: #fff;
    font-size: 30px;
    background: #3192bf;
    line-height: 60px;
    border-radius: 50%;
    position: relative;
    transition: box-shadow 0.25s ease-in-out;
}

.header .header_icon li a span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
    font-size: 12px;
    line-height: 1.6;
    background: #3192bf;
    border-radius: 6px 0;
    padding: 3px 6px;
    opacity: 0;
    transition: all 0.3s ease;
}

.header .header_icon li a span::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    border-top: 5px solid #3192bf;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.header .header_icon li a:hover span {
    top: -33px;
    opacity: 1;
}

.header .header_icon li a:hover {
    box-shadow:
        0 0 0 3px rgba(75, 154, 191, 0.9) inset,
        0 0 0 100px rgba(0, 0, 0, 0.1) inset
}

/* 전체 메뉴 */
.nav {
    padding: 25px 0;
    overflow: hidden;
}

.nav>div {
    float: left;
    width: 40%;
}

.nav>div:last-child {
    width: 20%;
}

.nav>div ol {
    overflow: hidden;
}

.nav>div li {
    float: left;
    width: 50%;
    position: relative;
    padding-left: 8px;
    box-sizing: border-box;
}

.nav>div li::before {
    content: '';
    width: 3px;
    height: 3px;
    background-color: #25a2d0;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 6px;
}

.nav>div li a {
    position: relative;
}

.nav>div li a::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 1px;
    background: #25aad0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .3s;
}

.nav>div li:hover a::before {
    width: 100%;
}

.nav>div:last-child li {
    width: 100%;
}

.nav>div h3 {
    font-size: 18px;
    color: #25a2d0;
    font-weight: bold;
    margin-bottom: 4px;
}

/* 타이틀 */
.title {
    position: relative;
    text-align: center;
}

.title h2 {
    font-family: "Nanum Brush Script";
    font-size: 39px;
    color: #0093bd;
    padding: 5px 0;
}

.title .btn {
    position: absolute;
    right: 0;
    top: 5px;
    width: 60px;
    height: 60px;
    background: #3192bf;
    color: #fff;
    font-size: 35px;
    line-height: 60px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.title .btn:hover {
    box-shadow:
        0 0 0 3px rgba(71, 154, 191, 0.9) inset,
        0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}

/* 컨텐츠 영역 */
.column {
    padding: 15px;
    border-bottom: 1px solid #dbdbdb;
}

.column .col_tit {
    font-size: 20px;
    color: #3f7fa6;
    padding-bottom: 5px;
}

.column .col_desc {
    border-bottom: 1px dashed #dbdbdb;
    padding-bottom: 15px;
    margin-bottom: 15px;
    color: #878787;
}

.column.col1 {}

.column.col2 {}

.column.col3 {
    border-bottom: 0;
}

.column.col4 {}

.column.col5 {}

.column.col6 {
    border-bottom: 0;
}

.column.col7 {}

.column.col8 {}

.column.col9 {
    border-bottom: 0;
}


/* 메뉴 */
.menu li {
    position: relative;
}

.menu li a {
    font-size: 16px;
    text-transform: uppercase;
    color: #878787;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #dbdbdb;
    transition: box-shadow 0.34s ease, background 0.34s ease;
}

.menu li a:hover {
    box-shadow: inset 180px 0 0 0 rgba(36, 130, 174, 0.7);
    color: #fff;
    background: rgba(36, 130, 174, 0.9);
}

.menu li a i {
    position: absolute;
    right: 10px;
    top: 15px;
}

/* 게시판 */
.notice1 {
    position: relative;
}
.notice1 h5 {
    font-size: 14px;
    color: #2f7fa6;
    padding-bottom: 5px;
}
.notice1 li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    padding-left: 8px;
}
.notice1 li::before{
    content: '';
    width: 3px; height: 3px;
    background: #449ce2;
    border-radius: 50%;
    position: absolute;
    left: 0; top: 6px;
}
.notice1 .more {
    position: absolute;
    right: 0;
    top: 3px;
    font-size: 10px;
    text-transform: uppercase;
}

/* 게시판2 */
.notice2 {
    margin-top: 15px;
    position: relative;
}
.notice2 h5 {
    font-size: 14px;
    color: #2f7fa6;
    padding-bottom: 5px;
}
.notice2 li {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    position: relative;
    padding-left: 8px;
    max-height: 40px; /* ie */
}
.notice2 li::before {
    content: '';
    width: 3px; height: 3px;
    background: #449ce2;
    border-radius: 50%;
    position: absolute;
    left: 0; top: 6px;
}
.notice2 .more {
    position: absolute;
    right: 0;
    top: 3px;
    font-size: 10px;
    text-transform: uppercase;
}

.blog2 {
    margin-top: 10px;
}


/* 라이트 박스 */
.lightbox {
    overflow: hidden;
}
.lightbox > div {
    width: 19%;
    margin: 0.5%;
    float: left;
}

/* video */
.video {
    position: relative; 
    width: 100%;
    padding-bottom: 56.25%;
}
.video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}


/* 푸처 */
.footer {
    text-align: center;
    padding: 30px 50px;
}
.footer li {
    display: inline;
    padding: 0 7px 0 10px;
    position: relative;
}
.footer li::before {
    content: '';
    width: 1px; height: 12px;
    background: #dbdbdb;
    position: absolute;
    left: 0; top: 2px;
}
.footer li:first-child::before{
    width: 0;
}
.footer address {
    padding-top: 15px;
}


/* 미디어 쿼리 */
@media (max-width: 1220px) {
    .container {
        width: 100%;
    }

    .row {
        padding: 0 15px;
    }

    #contents .container {
        border: 0;
    }

    .lightbox > div {
        width: 24%;
    }
    .lightbox > div:nth-child(5n){
        display: none;
    }
}

@media (max-width: 1024px) {
    .lightbox > div {
        width: 32.33333%;
    }
    .lightbox > div:last-child {
        display: block;
    }
}

@media (max-width: 960px) {
    #cont_center {
        margin-right: 0;
        border-right: 0;
    }

    #cont_right {
        position: static;
        width: 100%;
        border-top: 1px solid #dbdbdb;
        overflow: hidden;
    }
    #cont_right .column {
        float: left;
        width: 33.3333%;
        box-sizing: border-box;
    }
    #cont_right .column.col7 {
        border-right: 1px solid #dbdbdb;
        border-bottom: 0;
    }
    #cont_right .column.col8 {
        border-right: 1px solid #dbdbdb;
        border-bottom: 0;
    }

    .nav>div {
        width: 100%;
    }

    .nav>div ol {
        margin-bottom: 10px;
    }

    .nav>div li {
        width: 33.3333%;
    }

    .nav>div:last-child {
        width: 100%;
    }

    .nav>div:last-child li {
        width: 33.3333%;
    }
}

@media (max-width: 768px) {
    #cont_left {
        float: none;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .nav {
        display: none;
    }

    .header {
        height: auto;
    }

    .header_tit {
        display: none;
    }

    .header_icon {
        display: none;
    }

    .title .btn {
        display: none;
    }

    .column.col2 {
        background: #fff;
    }

    .column.col1 .col_tit {
        display: none;
    }

    .column.col1 .col_desc {
        display: none;
    }

    .column.col1 {
        padding: 0;
    }

    .menu ul {
        overflow: hidden;
    }

    .menu li {
        float: left;
        width: 33.3333%;
        text-align: center;
        border-right: 1px solid #dbdbdb;
        box-sizing: border-box;
    }

    .menu li:nth-child(3n) {
        border-right: 0;
    }

    .menu li a {
        color: #fff;
        text-shadow: 0 0 5px rgba(0, 0, 0, .7);
    }

    .menu li a:hover {
        box-shadow: none;
        background: rgba(36, 130, 170, 0.3);
    }

    .menu li a i {
        display: none;
    }

    .lightbox > div {
        width: 49%;
    }
    .lightbox > div:nth-child(5n) {
        display: block;
    }

    #cont_right .column.col7 {
        width: 50%;
    }
    #cont_right .column.col8 {
        width: 50%;
        border-right: 0;
    }
    #cont_right .column.col9 {
        display: none;
    }

}