<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="webstoryboy">
    <meta name="description" content="웹 퍼블리셔를 위한 정보 공유 사이트입니다.">
    <meta name="keywords"
        content="웹스토리보이, 웹 퍼블리셔, 웹 표준, 웹 접근성, 화려한 디자인, webstoryboy, publisher, css3, html, markup, design, Webstoryboy">
    <title>웹스토리보이 | Webstoryboy | LAYOUT</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/docs.min.css" rel="stylesheet">
    <link href="../assets/css/prism.css" rel="stylesheet">

    <!-- 파비콘 -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/favicon_114.png">
    <link rel="icon" href="../assets/ico/icon.png">
    <link rel="icon" href="../assets/ico/favicon_57.png" sizes="16x16">
    <link rel="icon" href="../assets/ico/favicon_72.png" sizes="32x32">
    <link rel="icon" href="../assets/ico/favicon_114.png" sizes="48x48">
    <link rel="icon" href="../assets/ico/favicon_114.png" sizes="64x64">
    <link rel="icon" href="../assets/ico/favicon_114.png" sizes="128x128">

    <!-- Facebook meta tags -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="웹스토리보이" />
    <meta property="og:url" content="https://webstoryboy.co.kr/" />
    <meta property="og:image" content="http://richclub8.dothome.co.kr/assets/ico/icon.png" />
    <meta property="og:site_name" content="웹스토리보이" />
    <meta property="og:description" content="웹과 관련된 정보를 제공합니다." />

    <!-- twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@webstoryboy" />
    <meta name="twitter:title" content="웹스토리보이" />
    <meta name="twitter:description" content="웹과 관련된 정보를 제공합니다." />
    <meta property="twitter:image" content="http://richclub8.dothome.co.kr/assets/ico/icon.png" />

    <!-- 웹 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gaegu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.../assets2/js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <a class="sr-only" href="#content">Skip to main content</a>

    <header class="navbar navbar-inverse navbar-static-top bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="../index.html" class="navbar-brand">WEB'S &lt;/doc&gt;</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse pull-right" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a href="https://websinssa.tistory.com/">Tistory</a></li>
                    <li><a href="https://codepen.io/webstoryboy">Codepen</a></li>
                    <li><a href="https://github.com/webstoryboy/dothome1">Github</a></li>
                    <li><a href="https://www.figma.com/@874463">Figma</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="bs-header bgs1" id="content">
        <div class="container">
            <h1>Layout Reference v1.0 &lt;/doc&gt;</h1>
            <p><a href="https://webstoryboy.co.kr" target="_blank">webstoryboy.co.kr</a></p>
        </div>
    </div>

    <div class="container bs-docs-container">
        <div class="row">
            <div class="row" style="margin:10px 0 20px 15px">
                <script src="https://ads-partners.coupang.com/g.js"></script>
                <script>
                    new PartnersCoupang.G({
                        "id": 348397,
                        "template": "carousel",
                        "trackingCode": "AF4781241",
                        "width": "1135",
                        "height": "140"
                    });
                </script>
            </div>

            <div class="col-md-9" role="main">
                <!-- Intro1 -->
                <div class="bs-docs-section">
                    <h2 id="intro1" class="page-header">레이아웃 기본1</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="thumbnail">
                                <img src="img/layout01.png" alt="레이아웃">
                            </a>
                        </div>
                    </div>
                    <p>코드 보기 <a href="layout01.html">View</a></p>
                </div>
                <!-- //Intro1 -->
                <!-- Intro2 -->
                <div class="bs-docs-section">
                    <h2 id="intro2" class="page-header">레이아웃 기본2</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="thumbnail">
                                <img src="img/layout02.png" alt="레이아웃">
                            </a>
                        </div>
                    </div>
                    <p>코드 보기 <a href="layout02.html">View</a></p>
                </div>
                <!-- //Intro2 -->
                <!-- Intro3 -->
                <div class="bs-docs-section">
                    <h2 id="intro3" class="page-header">레이아웃 기본3</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="thumbnail">
                                <img src="img/layout03.png" alt="레이아웃">
                            </a>
                        </div>
                    </div>
                    <p>코드 보기 <a href="layout03.html">View</a></p>
                </div>
                <!-- //Intro3 -->
                <!-- Intro4 -->
                <div class="bs-docs-section">
                    <h2 id="intro4" class="page-header">레이아웃 기본4</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="thumbnail">
                                <img src="img/layout04.png" alt="레이아웃">
                            </a>
                        </div>
                    </div>
                    <p>코드 보기 <a href="layout04.html">View</a></p>
                </div>
                <!-- //Intro4 -->
                <!-- Intro5 -->
                <div class="bs-docs-section">
                    <h2 id="intro5" class="page-header">레이아웃 기본5</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="thumbnail">
                                <img src="img/layout05.png" alt="레이아웃">
                            </a>
                        </div>
                    </div>
                    <p>코드 보기 <a href="layout05.html">View</a></p>
                </div>
                <!-- //Intro5 -->
                <!-- Intro6 -->
                <div class="bs-docs-section">
                    <h2 id="intro6" class="page-header">레이아웃 기본6</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="thumbnail">
                                <img src="img/layout06.png" alt="레이아웃">
                            </a>
                        </div>
                    </div>
                    <p>코드 보기 <a href="layout06.html">View</a></p>
                </div>
                <!-- //Intro6 -->
                <!-- Intro7 -->
                <div class="bs-docs-section">
                    <h2 id="intro7" class="page-header">레이아웃 기본7</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="thumbnail">
                                <img src="img/layout07.png" alt="레이아웃">
                            </a>
                        </div>
                    </div>
                    <p>코드 보기 <a href="layout07.html">View</a></p>
                </div>
                <!-- //Intro7 -->
            </div>
            <!-- //col-md-9 -->


            <!-- //col-md-3 -->
            <div class="col-md-3">
                <div class="bs-sidebar hidden-print" role="complementary">
                    <ul class="nav bs-sidenav">
                        <li><a href="#intro1">레이아웃1</a></li>
                        <li><a href="#intro2">레이아웃2</a></li>
                        <li><a href="#intro3">레이아웃3</a></li>
                        <li><a href="#intro4">레이아웃4</a></li>
                        <li><a href="#intro5">레이아웃5</a></li>
                        <li><a href="#intro6">레이아웃6</a></li>
                        <li><a href="#intro7">레이아웃7</a></li>
                    </ul>
                </div>
            </div>
            <!--//col-md-3 -->
        </div>
        <!-- //row -->
    </div>
    <!-- //container -->


    <!-- Footer -->
    <footer class="bs-footer" role="contentinfo">
        <div class="container">
            <ul class="footer-links muted">
                <li>Currently v2.0</li>
                <li>&middot;</li>
                <li><a href="https://webstoryboy.github.io/w9/html/">webstoryboy</a></li>
                <li>&middot;</li>
                <li><a href="http://cafe.naver.com/crossbrowsing" target="_blank">publisher cafe</a></li>
                <li>&middot;</li>
                <li><a href="http://cafe.daum.net/flairdesignlink" target="_blank">designer cafe</a></li>
            </ul>
        </div>
    </footer>
    <!-- //Footer -->


    <!-- Bootstrap core JavaScript -->
    <script src="../assets/js/jquery-1.9.1.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/docs.min.js"></script>
    <script src="../assets/js/prism.js"></script>
</body>

</html>