@charset "UTF-8";

// 폰트 설정
$font-eng1: 'Saol';
$font-eng2: 'Playfair Display';
$font-eng3: 'Rajdhani';

$font-cho: 'Chosunilbo_myungjo';

$font-score1: 'S-CoreDream-1Thin';
$font-score2: 'S-CoreDream-2ExtraLight';
$font-score3: 'S-CoreDream-3Light';
$font-score4: 'S-CoreDream-4Regular';
$font-score5: 'S-CoreDream-5Medium';
$font-score6: 'S-CoreDream-6Bold';
$font-score7: 'S-CoreDream-7ExtraBold';
$font-score8: 'S-CoreDream-8Heavy';
$font-score9: 'S-CoreDream-9Black';
